/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  z-index: 10;
  transform-origin: 50% 50%;
}

/* .thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
} */

.thumb:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}
.thumb:hover::-moz-range-thumb {
  transform: scale(1.1);
}

/* deleting */
.thumb.shouldDelete::-webkit-slider-thumb {
  opacity: 0.25;
  transform: scale(0.8);
}
.thumb.shouldDelete::-moz-range-thumb {
  opacity: 0.25;
  transform: scale(0.8);
}

.thumb:focus::-webkit-slider-thumb {
  outline: 4px solid white;
  /* background-color: black; */
}
.thumb:focus::-moz-range-thumb {
  outline: 4px solid white;
  /* background-color: black; */
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  outline: 3px solid white;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  outline: 3px solid white;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0;
  pointer-events: all;
  position: relative;
}
